<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="~/Content/Plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" >
   

</head>
<body>
    @Html.Partial("_Nav")
    @Html.Partial("_MainSidebar")
    @Html.Partial("_SideControl")

    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_Footer")
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>
<script src="/Content/Plugins/jquery/jquery.js"></script>
<script src="/Content/Plugins/jquery/datatime.js"></script>

</body>
</html>
