@model MedicApp.Caso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles especificos de los casos:</h2>

<div>
    <h4>Caso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
